<div class="content eatery">
  <h2>Eatery Details</h2>

  <p>Name: <%= @eatery.name %></p>
  <p>Location: <%= @eatery.location %></p>
  <div class="map">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @eatery.location %>&size=500x400&zoom=17&markers=color:red%7C<%= @eatery.location%>&key=AIzaSyAbTalknSayXUPh84noLdAJrGvWCZwGocw" alt="">
  </div>
  <div class="buttons-container">
    <div class="inline-button">
      <a href="/eateries/<%= @eatery.id %>/edit" class="button">Edit eatery</a>
    </div>
    <div class="inline-button">
    <form class="" action="/eateries/<%= @eatery.id %>/delete" method="POST">
      <input class="button" type="submit" name="delete-button" value="Delete Eatery">
    </form>
    </div>
  </div>
</div>
API key
<!-- AIzaSyAbTalknSayXUPh84noLdAJrGvWCZwGocw -->
